h1 {
    background: rgb(46, 46, 116);
    color:color-mix(in hsl shorter hue, color rgb(168, 130, 238), color rgb(138, 175, 255))
}

.description {
    border: 2px solid blueviolet;
    margin-top: 100px;
    margin-left: 100px;
}


.idk {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    text-shadow: 5px 5px 4px rgb(87, 148, 87);

}